@import url('https://fonts.googleapis.com/css?family=Roboto');
a{color:blue;}
ul{text-align:center;   
   list-style-position: inside;
   list-style-type:none;
}
li::first-letter{font-size:180%;text-transform:uppercase;}
h1{font-weight:bold; font-family:'Times New Roman'}
.copyright {}
body {background-color:deepskyblue;
      font-family:'Roboto', sans-serif;
}
