body {font-family:'Courier New';
      background-color:midnightblue;padding:0;width:80%;
     text-align:center;
        position:center;        
        margin-left:auto;
        margin-right:auto
      
}
main{padding:0;
     ;
}
nav{float:left;
    margin-right:0;
    font-family:'Courier New';
    background-color:Highlight;
    padding-bottom:195px;   
    
}

article{
        text-align:center;
        position:center;
        padding:0;
        margin-left:auto;
        margin-right:auto;
        font-family:'Courier New';
        background-color:royalblue;       
}
ul.customList{list-style-type:none;}
h1{font-family:'Courier New';}

